{{!-- main handlebars --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        {{{body}}}
        <div class="about_footer">
            <footer id="myfooter">
                <p>RESTAURANT RESERVATION SYSTEM</p>
                <p>Restaurant reservations made easier for you.</p>
                <p>Creators: Dhavan Kanakia, Manzoor Mehaboob, Mao Li</p>
                <p>CS546 Final Project</p>
                <p>Stevens Institute of Technology</p>
            </footer>
        </div>
    </body>
</html>