<main>
  <div class="add-res">
    <h1>Add restaurants here</h1>
    <form
      method="POST"
      action="/admin/restaurant/add"
      id="restaurant-form"
      enctype="multipart/form-data"
    >
      <div class="form">
        <label for="name">Restaurant Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Restaurant Name"
        /><br />
      </div>
      <div class="form">
        <label for="emailId">Email ID:</label>
        <input
          type="text"
          id="emailId"
          name="emailId"
          placeholder="Email ID"
        /><br />
      </div>
      <div class="form">
        <label for="contactInfo">Contact Info:</label>
        <input
          type="text"
          id="contactInfo"
          name="contactInfo"
          placeholder="Phone Number"
        /><br />
      </div>
      <div class="form">
        <label for="description">Description:</label><br />
        <textarea
          id="description"
          name="description"
          placeholder="Describe your restaurant"
        ></textarea><br />
      </div>
      <div class="form">
        <label for="image">Main Image:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/jpeg, image/png, image/jpg"
        /><br />
      </div>
      <div class="form">
        <label for="priceRange">Price Range:</label>
        <input
          type="text"
          id="priceRange"
          name="priceRange"
          placeholder="Approximate Price for 2"
        /><br />
      </div>
      <div class="form">
        <label for="category">Category:</label>
        <select id="category" name="category" required>
          <option value="" selected disabled>Select Category</option>
          <option value="Pizza">Pizza</option>
          <option value="Bakery">Bakery</option>
          <option value="Steakhouse">Steakhouse</option>
          <option value="Indian">Indian</option>
          <option value="Asian">Asian</option>
          <option value="English">English</option>
          <option value="Thai">Thai</option>
          <option value="Chinese">Chinese</option>
          <option value="Japanese">Japanese</option>
          <option value="American">American</option>
          <option value="Mexican">Mexican</option>
          <option value="Mediterenean">Mediterenean</option>
        </select><br />
      </div>
      <div class="form">
        <label for="address">Address:</label><br />
        <textarea
          id="address"
          name="address"
          placeholder="Street Address"
        ></textarea><br />
      </div>
      <div class="form">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City" /><br />
      </div>
      <div class="form">
        <label for="state">State:</label>
        <select id="state" name="state" required>
          <option value="" selected disabled>Select State</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New York">New York</option>
        </select>
      </div>
      <div class="form">
        <label for="zip">Zip:</label>
        <input type="text" id="zip" name="zip" placeholder="Zip Code" /><br />
      </div>
      <div class="form">
        <label for="latitude">Latitude:</label>
        <input
          type="text"
          id="latitude"
          name="latitude"
          placeholder="Latitude"
        /><br />

        <label for="longitude">Longitude:</label>
        <input
          type="text"
          id="longitude"
          name="longitude"
          placeholder="Longitude"
        /><br />
      </div>
      <div class="form">
        <label for="openingTime">Opening Time:</label>
        <input type="time" id="openingTime" name="openingTime" /><br />
      </div>
      <div class="form">
        <label for="closingTime">Closing Time:</label>
        <input type="time" id="closingTime" name="closingTime" /><br />
      </div>
      <div class="form">
        <label for="TableFor2">Number of tables for 2:</label>
        <input type="number" id="TableFor2" name="TableFor2" /><br />
      </div>
      <div class="form">
        <label for="TableFor4">Number of tables for 4:</label>
        <input type="number" id="TableFor4" name="TableFor4" /><br />
      </div>
      <div class="form">
        <label for="TableFor6">Number of tables for 6:</label>
        <input type="number" id="TableFor6" name="TableFor6" /><br />
      </div>
      <div class="form">
        <label for="TableFor8">Number of tables for 8:</label>
        <input type="number" id="TableFor8" name="TableFor8" /><br />
      </div>
      <div class="form">
        <label for="TableFor10">Number of tables for 10:</label>
        <input type="number" id="TableFor10" name="TableFor10" /><br />
      </div>
      <button
        type="submit"
        class="w-20 btn btn-sm btn-success"
      >Confirm</button><a class="w-20 btn btn-sm btn-danger" href="/">Cancel</a>
    </form>
    <br />
    <div class="form-group hidden" id="error-container">
      <div class="text-goes-here">
      </div>
    </div>
    {{#if hasErrors}}
      <p class="alert alert-danger Error">{{error}}</p>
    {{/if}}
  </div>
</main>

<script src="/public/js/restaurantForm.js"></script>