<h1>Reservation</h1>

{{#if reservation}}
  <p>Reservation ID:{{reservation._id}}</p>
  <p>Reservation Time:{{reservation.reservationTime}}</p>
  <p>Reservation Date: {{reservation.reservationDate}}</p>

{{/if}}